.container {
    height: 100%;
    background: linear-gradient(180deg, rgba(174,191,238,1) 0%, rgba(37,89,207,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 3rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    height: 5rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
}

button {
    margin-top: .5rem;
}

.full-width {
    width: 100%;
}

p {
    margin-top: .5rem;
    opacity: .5;
    text-align: center;
}

mat-icon {
    opacity: .7;
}